<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
			<div class="footer-col">
  	 			<h4>EcoCiclo</h4>
  	 			<P>La nueva forma de gestionar tu periodo<p>				
  	 		</div>
  	 		<div class="footer-col">


  	 			<h4>ACCESOS RAPIDOS</h4>
  	 			<ul>
  	 				  <li><a [routerLink]="[ '/inicio' ]" routerLinkActive="active">INICIO</a></li>
                       <li><a [routerLink]="[ '/calculadora' ]" routerLinkActive="active">PLANEADOR</a></li>
          <li><a [routerLink]="['/nosotros']" routerLinkActive="active">NOSOTROS</a></li>
           <li><a [routerLink]="['/iecologico']" routerLinkActive="active">IMPACTO</a></li>
         
          <li><a [routerLink]="[ '/formulario' ]" routerLinkActive="active" >CONTACTO</a></li>
  	 			</ul>
  	 		</div>
  	 		
  	 		
			<div class="footer-col">
  	 			<h4>CONTACTANOS</h4>
  	 			<ul>
  	 				<li><a href='mailto:ecociclo@gmail.com?subject=Solicitud%20de%20información' target="_blank"><i class="fa-solid fa-envelope fa-sm" style="color: rgb(255, 255, 255);"></i>ecociclo@gmail.com</a></li>
  	 				<li><a href="https://wa.me/5544962567?text=Hola%20EcoCiclo" 
   target="_blank"><i class="fa-brands fa-whatsapp fa-sm" style="color: rgb(255, 255, 255);"></i>5544962567</a></li>
  	 				<li><a href="tel:+525522356083" target="_blank"><i class="fa-solid fa-phone fa-sm" style="color: rgb(255, 255, 255);"></i>5522356083</a></li>
  	 			
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>SIGUENOS</h4>
  	 			<div class="social-links">
  	 				<a href="https://www.facebook.com/profile.php?id=61590187209785" target="_blank"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="https://www.tiktok.com/@ecociclomx?is_from_webapp=1&sender_device=pc" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
  	 				<a href="https://www.instagram.com/eco_ciclo.co/" target="_blank"><i class="fab fa-instagram"></i></a>
  	 			
  	 			</div>
                </div>
  	 	</div>
  	 </div>      
  </footer>
  <footer class="page-footer">
         
          <div class="footer-copyright center-align">
            <div class="container">
            © 2026 Copyright EcoCiclo
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>




		