<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>ACCESOS RAPIDOS</h4>
  	 			<ul>
  	 				  <li><a [routerLink]="[ '/inicio' ]" routerLinkActive="active">INICIO</a></li>
                       <li><a [routerLink]="[ '/calculadora' ]" routerLinkActive="active">PLANEADOR</a></li>
          <li><a [routerLink]="['/nosotros']" routerLinkActive="active">NOSOTROS</a></li>
           <li><a [routerLink]="['/impacto']" routerLinkActive="active">IMPACTO</a></li>
         
          <li><a [routerLink]="[ '/formulario' ]" routerLinkActive="active" >CONTACTO</a></li>
  	 			</ul>
  	 		</div>
  	 		
  	 		<div class="footer-col">
  	 			<h4>Nuestros Productos</h4>
  	 			<ul>
  	 				<li><a href="#">Bio-Rad</a></li>
  	 				<li><a href="#">Euroimmun</a></li>
  	 				<li><a href="#">Wiener Lab</a></li>
  	 				<li><a href="#">Investigación Diagnóstica</a></li>
  	 			</ul>
  	 		</div>
			<div class="footer-col">
  	 			<h4>CONTACTANOS</h4>
  	 			<ul>
  	 				<li><a href="#">contacto@publisalud.com.mx</a></li>
  	 				<li><a href="#">5795-1341</a></li>
  	 				<li><a href="#">5751-3122 </a></li>
  	 			
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
                </div>
  	 	</div>
  	 </div>      
  </footer>
  <footer class="page-footer  light-blue darken-4">
         
          <div class="footer-copyright center-align">
            <div class="container">
            © 2026 Copyright Publisalud
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
        </footer>




		