@font-face {
    font-family: "vintage";
     src: url("/assets/fonts/vintage_goods.ttf") format("truetype"),
          url("/assets/fonts/Vintag.otf") format("truetype");
    
}
a{
    color: #3a533c;
}
body {
    margin: 0;
font-family: "DM Sans", sans-serif; 

    background-color: whitesmoke;
}
.vintage {
    font-family: "vintage"!important;
    font-weight: normal;
    font-size: 3.5rem;
}

.brand-logo{
    font-size: 2.5rem;
}

nav.transparent {
    background-color: rgba(248, 246, 241, 0.65) !important;
    backdrop-filter: blur(6px);
}