<div class="parallax">
<div class="container-fluid contenido">
	<div class="row center-align">
		<div class="col s12 m12 l12">
			<h1>Cuida tu ciclo de forma consciente</h1>
			<p class="flow-text">
				Conocer tu impacto ambiental y encontrar alternativas sostenibles para tu rutina menstrual nunca fue tan fácil.
			</p>
		</div>
	</div>


<ol style="--length: 4" role="list">

	<li style="--i: 1">
		<h3>Selecciona el inicio de tu ciclo</h3>
		<p>Registra el primer día de tu periodo para comenzar el seguimiento.</p>
	</li>

	<li style="--i: 2">
		<h3>Indica la duración de tu periodo</h3>
		<p>Agrega cuántos días dura tu menstruación habitualmente.</p>
	</li>

	<li style="--i: 3">
		<h3>Describe tu nivel de flujo</h3>
		<p>Selecciona si tu flujo es ligero, medio o abundante.</p>
	</li>

	<li style="--i: 4">
		<h3>Organiza tu tiempo fuera de casa</h3>
		<p>Calcula mejor los productos que necesitarás durante el día.</p>
	</li>

</ol>

<button
          class="cssbuttons-io-button"
          [routerLink]="['/contacto']"
          routerLinkActive="active"
        >
          CONTACTANOS
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
        </button>
 </div>
</div>		