<div class="parallax">
<div class="container-fluid contenido">
	<div class="row center-align">
		<div class="col s12 m12 l12">
			<h1>Cuida tu <span>ciclo</span>  de forma <span> consciente </span></h1>
			<p class="flow-text">
				Conocer tu impacto ambiental y encontrar alternativas sostenibles para tu rutina menstrual nunca fue tan fácil.
			</p>
		</div>
	</div>


<ol style="--length: 4" role="list">

	<li style="--i: 1">
		<h3>Selecciona el inicio de tu ciclo</h3>
		<p>Registra el primer día de tu periodo para comenzar el seguimiento.</p>
	</li>

	<li style="--i: 2">
		<h3>Indica la duración de tu periodo</h3>
		<p>Agrega cuántos días dura tu menstruación habitualmente.</p>
	</li>

	<li style="--i: 3">
		<h3>Describe tu nivel de flujo</h3>
		<p>Selecciona si tu flujo es ligero, medio o abundante.</p>
	</li>

	<li style="--i: 4">
		<h3>Organiza tu tiempo fuera de casa</h3>
		<p>Calcula mejor los productos que necesitarás durante el día.</p>
	</li>

</ol>
<div class="row center-align">
 <a [routerLink]="[ '/calculadora' ]" routerLinkActive="active"class="btn speedyui-btn pink accent-1 waves-effect waves-light" style="text-transform:uppercase; padding:3 1em; border-radius: 20px; font-size:1.5rem; font-weight:600;">COMENZAR</a>
    </div>           
</div>		