<section class="azul">
  <div class="contenido">
    <div class="container-fluid">

      <div class="row center-align">

        <!-- MISIÓN -->
        <div class="col l4 m12 s12">
          <ul class="shop-pets">
            <li class="card-large card-light" id="sup-dog">

              <div class="card-image">
                <img src="assets/img/m.jpg">
                <h1>MISIÓN</h1>
              </div>

              <p>
                Brindar una herramienta digital accesible e innovadora que ayude a las mujeres a comprender el 
                <b>impacto ambiental</b> de su gestión menstrual, promoviendo hábitos 
                <b>sostenibles, conscientes e informados</b> mediante el uso de tecnología.
              </p>

            </li>
          </ul>
        </div>

        <!-- VISIÓN -->
        <div class="col l4 m12 s12">
          <ul class="shop-pets">
            <li class="card-large card-light" id="sup-dog">

              <div class="card-image">
                <img src="assets/img/v.jpg">
                <h1>VISIÓN</h1>
              </div>

              <p>
                Ser una plataforma reconocida por impulsar la <b>la educación </b>sobre 
                gestión menstrual sostenible, ayudando a las mujeres a tomar decisiones responsables 
                que contribuyan al <b>bienestar personal</b> y al cuidado del planeta.
              </p>

            </li>
          </ul>
        </div>

        <!-- VALORES -->
        <div class="col l4 m12 s12">
          <ul class="shop-pets">
            <li class="card-large card-dark" id="sup-cat">

              <div class="card-image">
                <img src="assets/img/p.jpg">
                <h1>VALORES</h1>
              </div>

              <p>
                En EcoCiclo creemos en la <b>sostenibilidad</b> y la innovación como herramientas 
                para generar impacto positivo. Promovemos <b> el acceso a información </b>
                 y la construcción de <b>hábitos</b> que ayuden a cuidar del planeta y del bienestar de cada mujer.
              </p>

            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</section>