<section class="parallax">
  <div class="container-fluid contenido alianza">

    <div class="row">

      <!-- TEXTO PRINCIPAL -->
      <div class="col s12 m12 l6 xl6 left-align">

        <h3 style="text-transform: uppercase;">
          Transformando la forma de vivir el
          <span class="verde">ciclo menstrual</span>
        </h3>

        <button
          class="cssbuttons-io-button"
          [routerLink]="['/contacto']"
          routerLinkActive="active"
        >
          CONOCE MÁS

          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">

              <path d="M0 0h24v24H0z" fill="none"></path>

              <path
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"
              ></path>

            </svg>
          </div>

        </button>

      </div>

      <!-- HISTORIA -->
      <div class="col s12 m12 l6 xl6 center-align">

        <p>
          EcoCiclo nació como un proyecto con una meta clara: ayudar a las mujeres a comprender el impacto ambiental y económico de los productos menstruales desechables. 
         
          A través de tecnología y datos personalizados, EcoCiclo busca transformar pequeños hábitos cotidianos en acciones con impacto positivo para el planeta. 
          Nuestra visión es llegar a mujeres de todo el mundo y construir una comunidad que impulse una gestión menstrual más responsable y sostenible.
        </p>

      </div>

    </div>

  </div>
</section>