.alianza {
  padding: 40px 20px;
  border-radius: 12px;
}

.alianza h5 {
  font-weight: 600;
  margin-bottom: 20px;
}

.alianza p {
  font-size: 16px;
  line-height: 1.6;
  color: #3a533c;
}



.parallax {
  background-image: url('/assets/img/p1.png');
  min-height: 500px;
  background-attachment: fixed;   /* 👈 clave para el efecto */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contenido {
  position: relative;
  text-align: center;
  color: white;
  padding: 10px 10px;
}

.verde{
    color:#f06292;
    font-weight: 900;
}

p{
    
    text-align: justify;
    padding-top:50px;  
      
     font-weight: 600;
     font-size: large!important;
}

h3{
    color: #3a533c;
     padding-top:75px;  
 font-weight: 900;

}

@media screen and (min-width: 992px) {
  h3 {
     margin-left: 150px;   
margin-right: 25px;
  }
  p{
margin-left: 25px;   
     margin-right: 200px; 
  }
  .cssbuttons-io-button {
    margin-left: 150px;   
    
  }
}


//boton
 /* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: #f06292;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.9em;
  font-size: 25px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em#f06292;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em#f06292;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color:#f06292;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}



