<section id="contact">
  <h1 class="section-header">Contacto</h1>

  <div class="contact-wrapper">
    <form
      id="contact-form"
      class="form-horizontal containerF"
      role="form"
      [formGroup]="formulario"
      (ngSubmit)="guardarDatos()"
    >
      <div class="input-field">
        <i class="material-icons prefix  cafe">account_circle</i>
        <label for="nombre">Nombre</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          formControlName="nombre"
          maxlength="120"
          pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑüÜ ]+"
          data-length="120"
          class="validate"
        />
        <span
          class="helper-text"
          data-error="Solo letras permitidas"
          data-success="Correcto"
        ></span>
      </div>

      <div class="input-field">
        <i class="material-icons prefix cafe">email</i>
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="validate"
          name="email"
          formControlName="email"
          required
        />
        <span class="helper-text" data-error="Formato incorrecto" data-success="Correcto"></span>
      </div>
      <div class="input-field">
        <textarea
          id="textarea1"
          class="materialize-textarea"
          data-length="200"
          formControlName="comentarios"
          
        ></textarea>
        <label for="textarea1" >Dejanos un comentario</label>
      </div>

      <h6>¿ACEPTAS EL AVISO DE PRIVACIDAD?</h6>
      <div class="switch cafe">
        <label>
          NO
          <input id="avisop" formControlName="avisop" type="checkbox" />
          <span class="lever"></span>
          SI
        </label>
      </div>
      <br />
      <div class="container-fluid">
        <div class="row">
          <div class="col s6">
            <!--input type="submit" id="guardar" value="Guardar" class="btn indigo lighten-3" name="" required-->
            <button type="submit" class="btn" [disabled]="formulario.invalid">ENVIAR</button>
          </div>
          <div class="col s6">
            <button type="reset" class="btn">Cancelar</button>
          </div>
        </div>
      </div>
    </form>

    <div class="direct-contact-container containerD">
      <ul class="contact-list">
        <li class="list-item">
          <i class="fa-solid fa-phone fa-xl" ></i>
          <span class="contact-text place"><a  href="https://wa.me/5544962567?text=Hola%20EcoCiclo" 
   target="_blank">(55) 44 96 25 67</a></span>
        </li>
        <li class="list-item">
          <i class="fa-brands fa-whatsapp fa-xl" style="color: rgb(58, 83, 60); font-weight: bolder!important;"></i><span class="contact-text phone"
            ><a href="tel:+525522356083" target="_blank"> (55) 22 35 60 83</a></span
          >
        </li>

        <li class="list-item">
          <i class="fa fa-envelope fa-2x"
            ><span class="contact-text gmail"
              ><a href='mailto:ecociclo@gmail.com?subject=Solicitud%20de%20información' target="_blank">ecociclo@gmail.com</a></span
            ></i
          >
        </li>
      </ul>

      <hr />
      <ul class="social-media-list">
        <li>
          <a  href="https://www.facebook.com/profile.php?id=61590187209785" target="_blank" class="contact-icon">
           <i class="fa-brands fa-facebook-f fa-xl" style="color: rgb(255, 255, 255);"></i></a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@ecociclomx?is_from_webapp=1&sender_device=pc" target="_blank" class="contact-icon">
            <i class="fa-brands fa-tiktok fa-xl" style="color: rgb(255, 255, 255);"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/eco_ciclo.co/" target="_blank" class="contact-icon">
            <i class="fa-brands fa-instagram fa-xl" style="color: rgb(255, 255, 255);"></i></a>
        </li>
      
      </ul>
      <hr />

      <div class="copyright" style="text-transform: uppercase;">Siguenos en redes sociales</div>
    </div>
  </div>
</section>
 <app-footer></app-footer>
