<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <h1 >
        Tu ciclo, tu planeta
      </h1>
      <h3 >
       ¿Sabías que un pequeño cambio en tu rutina  puede reducir toneladas de basura? Haz clic en las tarjetas para explorar <b>la realidad de la gestión menstrual</b>
      </h3>
    </div>
  </div>
  <div class="row">
    <!-- Card 1 -->
    <div class="col s12 m12 l4 xl4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/img/card1.png" />
        </div>
        <div class="card-content">
          <span class="card-title activator">
            ¿Por qué contaminan?<i class="material-icons right">more_vert</i>
          </span>
        
        </div>
        <div class="card-reveal">
          <span class="card-title">
            ¿Por qué contaminan?<i class="material-icons right">close</i>
          </span>
          <p>
            Las toallas y tampones contienen plástico, adhesivos, polímeros absorbentes y empaques individuales.  
            Muchos de estos materiales tardan siglos en degradarse y liberan microplásticos al ambiente.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col s12 m12 l4 xl4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/img/card2.png" />
        </div>
        <div class="card-content">
          <span class="card-title activator ">
            El impacto invisible<i class="material-icons right">more_vert</i>
          </span>
        
        </div>
        <div class="card-reveal">
          <span class="card-title ">
            El impacto invisible<i class="material-icons right">close</i>
           
          </span>
          <p>
            La producción de productos desechables requiere agua, energía, transporte y derivados del petróleo.  
            Cada ciclo genera residuos que se acumulan durante años.
          </p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col s12 m12 l4 xl4">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/img/card3.png" />
        </div>
        <div class="card-content">
          <span class="card-title activator">
            Alternativas sostenibles<i class="material-icons right">more_vert</i>
          </span>
        
        </div>
        <div class="card-reveal">
          <span class="card-title ">
            Alternativas sostenibles<i class="material-icons right">close</i>
          </span>
          <p>
            Las copas menstruales y productos reutilizables generan menos residuos, reducen emisiones de CO₂ y ayudan a disminuir gastos a largo plazo.  
            Una sola copa puede durar hasta 10 años.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
